{% extends 'base.html.twig' %}

{% block title %}{{ 'title_url'|trans({}, 'registerPage') }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>{{ 'title'|trans({}, 'registerPage') }}</h1>

    {{ form_errors(registrationForm) }}

    {{ form(registrationForm) }}

{% endblock %}
