<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony Ecom !{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<div class="" style="background-color: red; color: black; height: 35px;">
    <div class="page-width">
            <div class="text-center">
                <p class="text-center">
                    <strong class="m-5">You are in the admin area</strong>
                </p>
            </div>
    </div>
</div>

<div class="container ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'admin.recipes.index' ? 'active' : '' }}"
                           href="{{ path('admin.recipes.index') }}">Recettes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'admin.category.index' ? 'active' : '' }}"
                           href="{{ path('admin.category.index') }}">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'admin.course.index' ? 'active' : '' }}"
                           href="{{ path('admin.course.index') }}">Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'admin.ingredient.index' ? 'active' : '' }}"
                           href="{{ path('admin.ingredient.index') }}">Ingredients</a>
                    </li>
                </ul>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'index' ? 'active' : '' }}"
                           href="{{ path('index') }}">Go back home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container my-4">
    {% include 'partials/flash.html.twig' %}
    {% block body %}
    {% endblock %}
</div>
<script src="{{ asset('build/bootstrap.js') }}"></script>
</body>
</html>
