{% extends "/admin/admin.html.twig" %}

{% block body %}
    <div class="row justify-content-between p-2">
        <div class="col"></div>
        <div class="col-auto">
            <a class="btn btn-success btn-lg" href="{{ path('admin.category.create') }}">Create</a>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Number of recipe</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.count }}</td>
                    <td>
                        <div class="d-flex gap-1">
                            <a class="btn btn-warning btn-sm"
                               href="{{ path('admin.category.edit', {id: category.id} ) }}">Edit</a>
                            <form action="{{ path('admin.category.delete', {id: category.id} ) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}