{% extends "/admin/admin.html.twig" %}

{% block body %}
    <div class="row justify-content-between p-2">
        <div class="col"></div>
        <div class="col-auto">
            <a class="btn btn-lg btn-success" href="{{ path('admin.ingredient.create') }}">Create</a>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ ingredient.getId() }}</td>
                    <td>{{ ingredient.getName() }}</td>
                    <td>
                        <div class="d-flex gap-1">
                            <a class="btn btn-warning btn-sm"
                               href="{{ path('admin.ingredient.edit', {id: ingredient.id} ) }}">Edit</a>
                            <form action="{{ path('admin.ingredient.delete', {id: ingredient.id} ) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(ingredients) }}
    </div>
{% endblock %}