<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        {% for recipe in recipes %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <div class="image-container rounded-image-container">
                    {% if recipe.thumbnail is not empty %}
                        <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" class="img-thumbnail carousel-image rounded-image" alt="Recipe thumbnail">
                    {% else %}
                        <img src="{{ asset('defaultImage.jpg') }}" alt="Default image for recipe {{ recipe.id }}" class="img-thumbnail carousel-image rounded-image">
                    {% endif %}
                </div>
                <div class="carousel-caption">
                    <h3>{{ recipe.name }}</h3>
                    <a href="{{ path('recipe.detail', {id: recipe.id, slug: recipe.slug } ) }}" class="mt-8" style="text-decoration: none; color: whitesmoke;">
                        {{ 'read_more'|trans({}, 'fillerWords') }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>



    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>