{% block hero %}
    <main role="main" class="container">
        <div class="row">
            <h2 class="blog-post-title mt-5 mb-5 text-center" style="font-size: 45px;">
                Hey! Welcome to my cooking website!
            </h2>
            <div class="col-md-8 blog-main mt-4">
                <div class="blog-post">
                    {% include '/components/carousel.html.twig'  with {recipes : recipes} only %}
                    <p class="blog-post-meta"></p>
                    <p>I enjoy cooking and coding...</p>
                    <hr>
                    <p>This website provided an opportunity for me to enhance my development skills and keep them
                        up-to-date.</p>
                    <p>You'll find some of my favorite recipes here. I often find myself forgetting recipes that I love
                        or lacking inspiration for dinner.
                        This website serves primarily as an archive and resource guide for those who feel lost when
                        mealtime approaches.</p>
                    <p>I hope it will be helpful to some of you :)</p>
                </div>
                <div class="mt-5">
                    <h4 class="font-italic">Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://github.com/AdrienHq">GitHub</a></li>
                        <li><a href="https://www.instagram.com/adrienhecq/?hl=fr">Instagram</a></li>
                    </ol>
                </div>
            </div>

            <aside class="col-md-4 blog-sidebar mt-4" style="background-color: lightgrey; border-radius: 25px;">
                {% for recipe in popularRecipes %}
                    <div class="p-3">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="font-italic">{{ recipe.name }}</h3>
                                <p style="font-size: 12px;">Views: {{ recipe.numberViews }}</p>
                                {% for category in recipe.category %}
                                    <span style="margin-right: 5px; border-radius: 10%; padding: 5px 10px; background-color: lightblue">
                                        {{ category.name | default('') }}
                                    </span>
                                {% endfor %}
                            </div>
                            <div class="col-md-4">
                                <a href="{{ path('recipe.detail', {id: recipe.id, slug: recipe.slug } ) }}" class="mt-8"
                                   style="text-decoration: none; color: lightslategrey;">
                                    {% if recipe.thumbnail is not empty %}
                                        <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" class="img-thumbnail" alt="">
                                    {% else %}
                                        <img src="{{ asset('defaultImage.jpg') }}" alt="image#" .{{ recipe.id }} class="img-thumbnail">
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </aside>
        </div>
    </main>
{% endblock %}