{% block navbar %}
    <div class="separator"></div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <!-- Left-aligned content -->
        <div class="col-md-2">
            <a class="navbar-brand ms-5" href="{{ path('index') }}">Nifty Noms</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- Center-aligned content -->
        <div class="collapse navbar-collapse col-md-8 justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item {{ app.request.attributes.get('_route') == 'article.index' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('article.index') }}">Article</a>
                </li>
                <li class="nav-item dropdown {{ app.request.attributes.get('_route') in ['recipes.list', 'categories.list', 'courses.list'] ? 'active' : '' }}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRecettes" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recettes</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownRecettes">
                        <li>
                            <a class="dropdown-item {{ app.request.attributes.get('_route') == 'recipes.list' ? 'active' : '' }}"
                               href="{{ path('recipes.list') }}">All Recettes</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Catégories</a>
                            <ul class="dropdown-menu">
                                {{ render(controller('App\\Controller\\Base\\HomeController::renderCategoriesFragmentNavbar')) }}
                            </ul>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Type de repas</a>
                            <ul class="dropdown-menu">
                                {{ render(controller('App\\Controller\\Base\\HomeController::renderCoursesFragmentNavbar')) }}
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Right-aligned content -->
        <div class="collapse navbar-collapse col-md-2 justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-5">
                <div>
                    <input type="text" id="search-input" placeholder="Search...">
                    <ul id="search-results"></ul>
                </div>
                {% if not is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.recipes.index') }}">Admin</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="btn btn-danger" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-success" href="{{ path('app_login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="separator"></div>
{% endblock %}
