{% block navbar %}
    <nav class="w-full top-0 bg-white z-10 ">
        <div class="container mx-auto py-5 flex items-center justify-between">
            <div class="flex items-center gap-2">
                {#                <img class="w-8" src="./img/logo.png" alt="" /> #}
                <a class="text-4xl font-bold text-indigo-900" href="{{ path('index') }}">ADHD Kitchen</a>
            </div>
            <ul class="hidden md:flex space-x-10 font-bold text-sm uppercase">
                <li class="{{ app.request.attributes.get('_route') == 'recipes.list' ? 'text-red-600' : 'text-black' }}">
                    <a href="{{ path('recipes.list') }}" class="hover:text-gray-500"
                    >Recettes</a>
                </li>
                <li class="{{ app.request.attributes.get('_route') == 'cat' ? 'text-red-600' : 'text-black' }}">
                    <a href="{{ path('index') }}" class="hover:text-gray-500"
                    >Categories</a>
                </li>
                <li class="{{ app.request.attributes.get('_route') == 'fridge' ? 'text-red-600' : 'text-black' }}">
                    <a href="{{ path('index') }}" class="hover:text-gray-500"
                    >Fridge</a>
                </li>
                <li class="{{ app.request.attributes.get('_route') == 'contact' ? 'text-red-600' : 'text-black' }}">
                    <a href="{{ path('index') }}" class="hover:text-gray-500">
                        Contact</a>
                </li>
            </ul>
            <div class="hidden md:block  cursor-pointer">
                <ul class="hidden md:flex space-x-10 font-bold text-sm uppercase">
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'admin' ? 'active' : '' }}"
                           href="{{ path('admin') }}">Admin</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <a class="bg-red-900 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full {{ app.request.attributes.get('_route') == 'app_logout' ? 'active' : '' }}"
                           href="{{ path('app_logout') }}">
                            Logout
                            <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a class="bg-emerald-900 hover:bg-emerald-600 text-white font-bold py-2 px-4 rounded-full {{ app.request.attributes.get('_route') == 'app_login' ? 'active' : '' }}"
                           href="{{ path('app_login') }}">
                            Login
                            <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                {% endif %}
                </ul>
            </div>
            <div id="hamburger" class="space-y-1 md:hidden cursor-pointer z-20">
                <div class="w-6 h-0.5 bg-black"></div>
                <div class="w-6 h-0.5 bg-black"></div>
                <div class="w-6 h-0.5 bg-black"></div>
            </div>
            <ul
                    id="menu"
                    class="hidden bg-indigo-900 absolute left-0 top-0 w-full p-10 rounded-b-3xl space-y-10 text-white text-center"
            >
                <li>
                    <a id="hLink" href="{{ path('recipes.list') }}"
                       class="{{ app.request.attributes.get('_route') == 'recipes.list' ? 'active' : '' }}">Recettes
                    </a>
                </li>
                <li>
                    <a id="hLink" href="{{ path('index') }}"
                       class="{{ app.request.attributes.get('_route') == 'contact' ? 'active' : '' }}">Categories</a>
                </li>
                <li>
                    <a id="hLink" href="{{ path('index') }}"
                       class="{{ app.request.attributes.get('_route') == 'contact' ? 'active' : '' }}">Fridge</a>
                </li>
                <li>
                    <a id="hLink" href="{{ path('index') }}"
                       class="{{ app.request.attributes.get('_route') == 'contact' ? 'active' : '' }}">Contact</a>
                </li>
            </ul>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const hamburger = document.querySelector("#hamburger");
                const menu = document.querySelector("#menu");
                const hLinks = document.querySelectorAll("#hLink");

                hamburger.addEventListener("click", () => {
                    menu.classList.toggle("hidden");
                    hamburger.classList.toggle("bg-white");
                });

                hLinks.forEach(link => {
                    link.addEventListener("click", () => {
                        menu.classList.toggle("hidden");
                        hamburger.classList.toggle("bg-white");
                    });
                });
            });
        </script>
    </nav>
{% endblock %}


