{% extends "base.html.twig" %}

{% block body %}
    <div class="list-container">
        <div class="separator"></div>
        <h1 class="list-title">Toutes nos recettes :</h1>
        <div class="separator"></div>
        <div class="card-container flex flex-wrap justify-center align-items-center m-4">
            {% for recipe in recipes %}
                <div class="col-sm-4 mt-8">
                    <div class="card">
                        <img src="{{ asset('images/recipes/screenshot-from-2024-02-20-16-19-52-65e731687fe2a542498343.png') }}"
                             alt="">
                        <div class="card-body">
                            <h3 class="mt-2">{{ recipe.name|default("") }}</h3>
                            <p class="mt-3">
                                {{ recipe.description|default("")|slice(0, 120) }}{% if recipe.description|length > 120 %} ...{% endif %}
                            </p>
                            <a href="{{ path('recipe.detail', {id: recipe.id, slug: recipe.slug } ) }}" class="btn btn-primary mt-8">Lire
                                la suite</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination">
        {{ knp_pagination_render(recipes) }}
    </div>
{% endblock %}

