<div class="card">
    {% if recipe.thumbnail is not empty %}
        <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" class="card-img-top" alt="">
    {% else %}
        <img src="{{ asset('defaultImage.jpg') }}" alt="image#" .{{ recipe.id }} class="card-img-top">
    {% endif %}
    <div class="card-body">
        <h2 class="card-title">{{ recipe.name|default("") }}</h2>
        <div class="card-title">
            <h4 class="card-title" style="font-size: 1.5rem; color: firebrick">
                {% if (recipe.duration // 60) > 0 %}
                    {{ (recipe.duration // 60) ~ ' hour ' }}
                {% endif %}
                {{ (recipe.duration % 60) ~ ' minutes' }}
            </h4>
        </div>
        <p class="card-text" class="mt-3">
            {{ recipe.description|default("")|slice(0, 120) }}{% if recipe.description|length > 120 %} ...{% endif %}
        </p>
        <div>
            {% for category in recipe.category %}
                <em class="text-muted text-primary fst-italic">#{{ category }}</em>
            {% endfor %}
        </div>
        <div class="card-footer">
            <a href="{{ path('recipe.detail', {id: recipe.id, slug: recipe.slug } ) }}" class="btn btn-primary mt-8">
                Lire la suite
            </a>
        </div>

    </div>
</div>