{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div>
                    {% if recipe.thumbnail is not empty %}
                        <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" class="img-thumbnail" alt="">
                    {% else %}
                        <img src="{{ asset('defaultImage.jpg') }}" alt="image#" .{{ recipe.id }} class="img-thumbnail">
                    {% endif %}
                </div>
                <div style="font-style: italic">
                    {{ recipe.description }}
                </div>
                <div >
                    {{ recipe.duration }} :  minutes
                </div>

                <div >
                    {{ recipe.recipeSteps }} :  minutes
                </div>
            </div>
            <div class="col-4">
                <div>
                    {{ recipe.course.name }}
                    </br>
                    {% for category in recipe.category %}
                        {{ category.name }}
                    {% endfor %}
                </div>
            </div>
        </div>

{#        <div class="row">#}
{#            <div class="col-9">#}
{#                <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" class="img-thumbnail" alt="">#}
{#            </div>#}
{#            <div class="col-3">#}
{#                {{ recipe.course.name }}#}
{#                </br>#}
{#                {% for category in recipe.category %}#}
{#                    {{ category.name }}#}
{#                {% endfor %}#}
{#            </div>#}
{#            <div class="col-8 m-3" style="font-style: italic">#}
{#                {{ recipe.description }}#}
{#            </div>#}
{#            <div class="col-9">#}
{#                {{ recipe.duration }} :  minutes#}
{#            </div>#}

{#            <div class="col-9">#}
{#                {{ recipe.recipeSteps }} :  minutes#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}
