{% extends "base.html.twig" %}
{% import "macro/stars.html.twig" as star %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 mb-5 mt-3">
                <h1 style="text-align: center">{{ recipe.name|default('') }}</h1>
            </div>
            <div style="text-align: end" class="col-4">
                <button class="btn btn-lg btn-success">Print the recipe</button>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <div>
                    {% if recipe.thumbnail is not empty %}
                        <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" class="img-thumbnail" alt="">
                    {% else %}
                        <img src="{{ asset('defaultImage.jpg') }}" alt="image#" .{{ recipe.id }} class="img-thumbnail">
                    {% endif %}
                </div>
                <div class="mt-5" style="font-style: italic">
                    {{ recipe.description }}
                </div>
                <div class="mt-5">
                    {{ recipe.recipeSteps }}
                </div>
                <div class="mt-5">
                    <h3 style="text-decoration: underline overline blue;">All the comments for the
                        recipe {{ recipe.name|default('') }}</h3>
                    {% if app.user %}
                        <div class="mt-3">
                            <h4 class="" style="color: lightslategrey">Write us a feedback :)</h4>
                            {{ form_start(form) }}
                            <div class="mt-2 form-floating">
                                {{ form_widget(form.content, {'attr': {'class': 'form-control', 'style': 'height: 130px;' }}) }}
                                {{ form_label(form.content ) }}
                            </div>
                            <button class="mt-3 btn btn-lg btn-dark" type="submit" id="button-addon2">
                                Send
                            </button>
                            {{ form_end(form) }}
                        </div>
                    {% else %}
                        <div class="text-center" style="margin-top: 55px; color: gray">
                            <h4>Sign-in or connect to be able to leave a comment ! :)</h4>
                        </div>
                    {% endif %}
                    <div class="mt-5">
                        {% if recipe.comments|length == 0 %}
                            <div class="text-center" style="margin-top: 85px; color: gray">
                                <h4>No comments for the moment :(</h4>
                            </div>
                        {% endif %}
                        {% for commentIndex, comment in recipe.comments %}
                            {% include 'components/comment.html.twig' with {comment: comment, commentIndex: commentIndex} only %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-2" style="background-color: #ECEFF1; border-radius: 45px;">
                <div class="mt-5" style="margin-left: 1rem;">
                    <h3>Course type </h3>
                    {{ recipe.course.name }}
                    </br>
                </div>
                <div class="mt-5" style="margin-left: 1rem;">
                    <h3>Duration</h3>
                    {% if (recipe.duration // 60) > 0 %}
                        {{ (recipe.duration // 60) ~ ' hour ' }}
                    {% endif %}
                    {{ (recipe.duration % 60) ~ ' minutes' }}
                </div>
                <div class="mt-5" style="margin-left: 1rem;">
                    <h3>Overall rating</h3>
                    {{ star.renderStars(globalRating) }}
                </div>
                {% if app.user %}
                    <div class="mt-5" style="margin-left: 1rem;">
                        <h3>Your rating</h3>
                        {{ star.renderStars(userRating) }}
                    </div>
                    <div class="mt-5" style="margin-left: 1rem;">
                        {{ form_start(formRating) }}
                        <div class="row">
                            <h3>{{ form_label(formRating.stars) }}</h3>
                            <div class="col-6">
                                {{ form_widget(formRating.stars) }}
                            </div>
                            <div class="col-6">
                                {{ form_widget(formRating.save) }}
                            </div>
                        </div>
                        {{ form_end(formRating) }}
                    </div>
                    {% else %}
                        <div class="mt-5" style="margin-left: 1rem;">
                            <h3>Your rating</h3>
                            <p style="font-style: italic; color: gray">You need to be connected to be able to rate a recipe !</p>
                        </div>
                {% endif %}
                <div class="mt-5" style="margin-left: 1rem;">
                    <h3>Ingredients</h3>
                    </br>
                    {% for category in recipe.category %}
                        {{ category.name }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 95px">
            <h3>Other recipes that may interest you ? </h3>
            {{ render(controller('App\\Controller\\Recipes\\RecipeController::renderRecommendedRecipes')) }}
        </div>
    </div>
{% endblock %}
