{% extends "base.html.twig" %}
{% import "macro/stars.html.twig" as star %}

{% block body %}
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="col-8 text-center">
                <h1>{{ recipe.name|default('') }}</h1>
            </div>
            <div class="col-4 text-end">
                <button class="btn btn-lg btn-success">{{ 'print'|trans({}, 'fillerWords') }}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                {% if recipe.thumbnail is not empty %}
                    <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" class="img-fluid rounded mb-4"
                         alt="Recipe Image">
                {% else %}
                    <img src="{{ asset('defaultImage.jpg') }}" alt="image#{{ recipe.id }}"
                         class="img-fluid rounded mb-4">
                {% endif %}

                <div class="mt-4 fst-italic">
                    {{ recipe.description|raw }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="bg-light rounded p-4">
                    <div class="mb-4">
                        <h3>{{ 'show.course'|trans({}, 'fillerWords') }}</h3>
                        <p>{{ recipe.course.name }}</p>
                    </div>

                    <div class="mb-4">
                        <h3>{{ 'show.duration'|trans({}, 'fillerWords') }}</h3>
                        <p>
                            {% set hours = recipe.duration // 60 %}
                            {% set minutes = recipe.duration % 60 %}

                            {% if hours > 0 %}
                                {{ hours ~ ' ' ~ 'hour'|trans({}, 'fillerWords') }}
                                {% if minutes > 0 %}
                                    {{ ' ' ~ minutes ~ ' ' ~ 'minute'|trans({}, 'fillerWords') }}
                                {% endif %}
                            {% else %}
                                {{ minutes ~ ' ' ~ 'minute'|trans({}, 'fillerWords') }}
                            {% endif %}
                        </p>
                    </div>

                    <div class="mb-4">
                        <h3>{{ 'rate.rating'|trans({}, 'fillerWords') }}</h3>
                        {{ star.renderStars(globalRating) }}
                    </div>

                    {% if app.user %}
                        <div class="mb-4">
                            <h3>{{ 'rate.yourRating'|trans({}, 'fillerWords') }}</h3>
                            {{ star.renderStars(userRating) }}
                        </div>
                        <div class="mb-4">
                            {{ form_start(formRating) }}
                            <div class="row">
                                <div class="col-6">
                                    <h3>{{ form_label(formRating.stars) }}</h3>
                                    {{ form_widget(formRating.stars) }}
                                </div>
                                <div class="col-6">
                                    {{ form_widget(formRating.save) }}
                                </div>
                            </div>
                            {{ form_end(formRating) }}
                        </div>
                    {% else %}
                        <div class="mb-4">
                            <h3>{{ 'rate.yourRating'|trans({}, 'fillerWords') }}</h3>
                            <p class="fst-italic text-gray">
                                {{ 'comment.connectionNeeded'|trans({}, 'fillerWords') }}
                            </p>
                        </div>
                    {% endif %}

                    <div class="mb-4">
                        <h3>{{ 'show.ingredients'|trans({}, 'fillerWords') }}</h3>
                        <p>
                            {% for category in recipe.category %}
                                {{ category.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h3 class="text-decoration-underline text-primary">{{ 'comment.allComments'|trans({}, 'fillerWords') }} {{ recipe.name|default('') }}</h3>
                {% if app.user %}
                    <div class="mt-3">
                        <h4 class="text-secondary">{{ 'comment.write'|trans({}, 'fillerWords') }}</h4>
                        {{ form_start(form) }}
                        <div class="form-floating mt-2">
                            {{ form_widget(form.content, {'attr': {'class': 'form-control', 'style': 'height: 130px;' }}) }}
                            {{ form_label(form.content) }}
                        </div>
                        <button class="btn btn-lg btn-dark mt-3" type="submit" id="button-addon2">{{ 'comment.sendComment'|trans({}, 'fillerWords') }}</button>
                        {{ form_end(form) }}
                    </div>
                {% else %}
                    <div class="text-center text-gray mt-5">
                        <h4>{{ 'comment.signin'|trans({}, 'fillerWords') }}</h4>
                    </div>
                {% endif %}

                <div class="mt-5">
                    {% if recipe.comments|length == 0 %}
                        <div class="text-center text-gray mt-5">
                            <h4>{{ 'comment.noComment'|trans({}, 'fillerWords') }}</h4>
                        </div>
                    {% endif %}
                    {% for commentIndex, comment in recipe.comments %}
                        {% include 'components/comment.html.twig' with {comment: comment, commentIndex: commentIndex} only %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <h3>{{ 'comment.otherRecipe'|trans({}, 'fillerWords') }}</h3>
            {{ render(controller('App\\Controller\\Recipes\\RecipeController::renderRecommendedRecipes')) }}
        </div>
    </div>
{% endblock %}
